mixin btn(link = true, arrow = false)
    if (link)
        +e.A.button.h5.btn__.js-btn(href='#')&attributes(attributes)
            +e.back.js-circles
            +e.SPAN.text
                if block
                    block
            if arrow
                +e.SPAN.arrow
                    +e.arrow-inner
                        +icon('arrowBtn')
    else
        +e.BUTTON.button.h5.btn__.js-btn()&attributes(attributes)
            +e.back.js-circles
            +e.SPAN.text
                if block
                    block
            if arrow
                +e.SPAN.arrow
                    +e.arrow-inner
                        +icon('arrowBtn')