.contacts {
  max-width: 19rem;
  flex: 1 1 auto;
  &__top {
    margin-bottom: 1.5rem;
  }
  &__phone {
    font-weight: 700;
    font-size: 2.5rem;
    white-space: nowrap;
    margin-bottom: 1rem;
  }
  &__center {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #D7D7D7;
  }
}